/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom css */

/* colors */

html {
    background-color: white;
    cursor: url("images/cursor-black.svg"),auto;
}

/* type */

h1,h2,h3,h4,p{
    color:black;
}

h1,h2,h3 {
    font-family: "freight-text-pro", serif;
    font-weight: 300;
    font-style: italic;
}

p, sub{
    font-family: "ibm-plex-sans", sans-serif;
    font-weight: 300;
}

h4{
    font-family: "ibm-plex-sans", sans-serif;
    font-weight: 600;
    font-style: italic;
}

b{
    font-family: "ibm-plex-sans", sans-serif;
    font-weight: 600;
    font-style: italic;
}

h1 {
    font-size:60pt;
}

h2 {
    font-size: 32pt;
}

h3 {
    font-size: 28pt;
}

h4 {
    font-size: 14pt;
    line-height:16pt;
}

p {
    font-size: 12pt;
    line-height: 18pt;
}

sub {
    font-size: 10pt;
    line-height:12pt;
}

a:link{
    text-decoration: underline;
    text-decoration-style:dotted;
    color:black;
}

p>a{
    text-decoration: underline;
    text-decoration-style:dotted;
    color: lightslategray;
}

a:active{
    text-decoration: underline;
    text-decoration-style:dotted;
}

a:visited {
    text-decoration: none;
    color:black;
  }

a:hover{
    color: lightslategray !important;
    cursor: url("images/cursor-gray.svg"), auto;;
}

a:hover>h3,a:hover>p,a:hover>sub{
    color:lightslategray;
}

a.projecthome{
    text-decoration: none !important;
}

a:hover>img{
    transform: scale(1.02,1.02);
    transition-property: transform;
    transition-duration: 0.2s;
}

/* columns */

.columns{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    row-gap: 48px;
    flex-direction: row; 
}

.projecttitle>.columns{
    row-gap:64px;
}

.eighty,.sixty, .forty,.thirty,.thirtythree, .twentyfive, .fifty, .hundred{
    display: flex;
    flex-direction: column;
}

.eighty{
    width:78%;
    gap:36px;
}

.twenty{
    width: 18%;
}

.twentyfive{
    width:25%;
    gap: 18px;
}

.thirty{
    width: 28%;
    gap: 18px;
}

.thirtythree{
    width: 32%;
    gap:18px;
}

.forty{
    width:38%;
}

.fifty{
    width:49%;
    gap:18px;
}

.sixty{
    width: 58%;
}

.hundred{
    width: 100%;
    gap: 36px;
}

img{
    width:100%;
}

/* header-footer */

.homenav{
    position: fixed;
    top:2%;
    left: 4%;
    z-index: 100;
}

.homenav>a{
    text-decoration:none;
}

.credit{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15%;
    margin-right:4%;
    height: 48px;
    z-index: 100;
}

.menu{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15%;
    height: 48px;
    z-index: 100;
}

.header{
    position: fixed;
    justify-content:right;
    top:2%;
    right:5%;
}

footer{
    position: relative;
    width: 100vw;
    bottom:0;
}

.footerpw{
    position: fixed;
    bottom:0;
    width: 100vw;
}

.footer{
    justify-content:left;
    bottom:3%;
    margin-left:4%;
    width:130px;
}

.menuitems{
    align-items: center;
}

.menuitems>a{
    text-decoration: none;
}

/* home */

.home {
    position:relative;
    margin:auto;
    display: flex;
    flex-direction: column;
    margin-top:18%;
    margin-bottom:16%;
    width: 92%;
    gap: 48px;
}

.homedescription{
    width: 50%;
    display: flex;
    flex-direction: row;
}

.miniprojnav{
    width: 50%;
    display:flex;
    flex-direction: row;
    gap:1%;
}

/* about */

.body{
    position:relative;
    margin:auto;
    display: flex;
    flex-direction:column;
    margin-top:18%;
    width: 92%;
    gap: 48px;
}

/* project */

.project{
    position:relative;
    margin:auto;
    display: flex;
    flex-direction: column;
    margin-top:0;
    margin-bottom:18%;
    width: 100%;
    gap: 48px;
}

.projecttitle{
    position:relative;
    margin:auto;
    display: flex;
    flex-direction: column;
    margin-top:14%;
    margin-bottom:18%;
    width: 92%;
    gap: 48px;
}

.projectbody{
    position: relative;
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-top: 3%;
    width: 60%;
    row-gap: 48px;
}

.demo{
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: 100vw !important;
}
.demobody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    vertical-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.demogif{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 49%;
}

.demogif>img{
    margin-top:8%;
    margin-bottom:8%;
    width: 60%;
}

.demotext{
    display: flex;
    flex-direction: column;
    vertical-align: center;
    justify-content: center;
    width: 40%;
}

/*password*/

.password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

input[type='password'] {
  height: 36px;
  width: 300px;
  font-size: 24pt;
}

input[type='submit'] {
    height: 40px;
    width: 164px;
    background-color: black;
    color: white;
    font-family: "freight-text-pro", serif;
    font-style: italic;
    font-weight: 300;
    font-size: 18pt;
    box-shadow: none;
    border: none;
    border-radius: 20px;
}

input[type='submit']:hover {
    background-color: lightslategray;
}


/* buffer */

.tiny{
    display: block;
    height: 0px;
    width:100%;
}

.small{
    display: block;
    height: 16px;
    width:100%;
}


.medium{
    display: block;
    height: 44px;
    width:100%;
}

.large{
    display: block;
    height: 120px;
    width:100%;
}


@media screen and (max-width: 1000px) { 

}

@media screen and (max-width: 800px) {

h1{
    font-size: 36pt;
}

.eighty{
    width:100%;
    gap:36px;
}

.twenty{
    width: 100%;
}

.twentyfive{
    width:50%;
    gap: 18px;
}

.thirty{
    width: 28%;
    gap: 18px;
}

.thirtythree{
    width: 50%;
    gap:18px;
}

.forty{
    width:100%;
}

.fifty{
    width:100%;
    gap:18px;
}

.sixty{
    width: 100%;
}

.hundred{
    width: 100%;
    gap: 36px;
}

.projectbody{
    width: 92%;
}

.spacer{
    display: none;
}

.homedescription{
    width: 80%;
    display: flex;
    flex-direction: row;
}

.credit{
    margin-left:4%;
    height: 20px;
}

.footmenu{
    gap:0px !important;
}

.menu{
    height: 20px;
}


.quicknav{
    display: none !important;
}

.home,.body,.projecttitle {
    margin-top:36%;
}

.password{
    margin-top: 35% !important;
}



}