/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*custom css*/
html{
    background-color: #fcfcfc;
}

a:link {
    text-decoration: none;
    color: #081F32;
  }
  
  a:visited {
    text-decoration: none;
    color:#081F32;
  }
  
  a:active {
    text-decoration: none;
    color: #081F32;
  }

/*space*/
main{
    padding: 3.5%;
}

header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 90px;
    z-index:100;
}

img{
    width:100%;
    border-radius:4px;
}

.homepage{
    display:flex;
    gap: 100px;
    align-items: top;
}

.body{
    width: 75%;
    margin: auto;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
}

.abtpage{
    display:flex;
    gap:80px;
    flex-direction: row;
}

.projnav{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.project{
    align-items:center;
    width: 75%;
}

.project div p.text{
    width:70%;
}

.project div h1.title, .project div h2.title{
    width:80%;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bodyimg {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 49.5%;
    height: inherit 20%;
}

.bodyimg a img{
    width: 100%;
    height: width 65%;
    object-fit: cover;
}

.description{
    position: fixed;
    bottom: 2%;
    width: 20%;
}

.symbol{
    position: fixed;
    top:2rem;
    left: 3rem;
}

.about{
    position:fixed;
    top:2rem;
    right: 3rem;
    font-size: 24px;
}

.thumbimg{
    width: 100vw;
    border-radius:0;
}

.homeimg{
    width: 130px;
    height: 100%;
}

.meimg{
    width: 300px;
    height: auto;
    object-fit: cover;
}

.intro{
    width: 95%;
}

.descriptors{
    display:flex;
    gap:40px;
}
.sidepics{
    display: flex;
    justify-content: space-between;
}

.sidepics img{
    width: 49.5%;
}

footer{
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5rem;
}


/*type*/
html {
    font-family: "input-mono", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    color: #081F32;
  }

h1,h2,li>a{
    font-family: "campaign", sans-serif;
}

h1{
    font-weight:700;
    font-size: 44px;
}

.about h1 a{
    font-size: 24pt;
}

h2,li>a{
    font-weight: 700;
    font-size: 24pt;
}

sub{
    font-family: "input-mono", monospace;
    font-weight: 100;
    font-style: normal;
    font-size: 9pt;
}

.caption{
    font-family: "input-mono", monospace;
    font-weight: 100;
    font-style: normal;
    color: #081F32;
}

h3{
    font-family: "input-mono", monospace;
    font-weight: 500;
    font-size: 14pt;
    line-height: 1.3rem;
}

p{
    font-family: "input-mono", monospace;
    font-weight: 100;
    font-size: 11pt;
    line-height: 1.3rem;
}

.bold{
    font-weight:500;
}

a:hover,u:hover,a:hover>.caption{
    color: rgb(174, 178, 199);
}

.type{
    font-style: italic;
}

/* spans */
.smallbr {
    display: block;
    margin-bottom: 10px;
}

.mediumbr{
    display: block;
    margin-bottom:12px;
}

.largebr {
    display: block;
    margin-bottom: 20px;
}

.hugebr{
    display: block;
    margin-bottom: 40px;
}

.gigabr{
    display: block;
    margin-bottom: 80px;
}

.gradBg{
    position:fixed;
    top:0;
}


/* tablet */
@media screen and (max-width: 1000px) {
    .body{
        width: 86%;
    }

    .abtpage {
        gap:30px;
    }

    .abtpage p, .abtpage div{
        width: 100%;
    }

    .project div p.text{
        width:100%;
    }

    .project div h1.title{
        width:100%;
    }
    
    .bodyimg {
        width: 100%;
        height: inherit 20%;;
    }
    .homeimg {
        display: none;
    }
       
}

/* mobile */
@media screen and (max-width: 500px) {
    .body{
        margin-top:5rem;
        width: 99%;
    }

    .abtpage{
        flex-direction: column;
    }

    .abtpage p, .abtpage div{
        width: 100%;
    }

    .symbol{
        top:0.7rem;
        left: 1rem;
    }
    
    .about{
        top:0.7rem;
        right: 1rem;
        font-size: 24px;
    }

    h1{
        font-weight:700;
        font-size: 28px;
    }

    h2{
        font-size: 22px;
    }

    sub{
        font-size: 10px;
    }

    p{
        font-size:14px;
        line-height: 18px;
    }

    .intro{
        width: 100%;
    }

    .smallbr {
        display: block;
        margin-bottom: 10px;
    }
    
    .mediumbr{
        display: block;
        margin-bottom:8px;
    }
    
    .largebr {
        display: block;
        margin-bottom: 20px;
    }
    
    .hugebr{
        display: block;
        margin-bottom: 36px;
    }
    
    .gigabr{
        display: block;
        margin-bottom: 64px;
    }    

    .gallery{
        row-gap: 24px;
    }

}